router ospf {{ ospf_process_number }}
 network {{ ospf_vlan_1_network }} {{ ospf_vlan_1_imask }} area 0
 network {{ ospf_vlan_2_network }} {{ ospf_vlan_2_imask }} area 0
 network {{ ospf_vlan_3_network }} {{ ospf_vlan_3_imask }} area 0
 network {{ ospf_vlan_4_network }} {{ ospf_vlan_4_imask }} area 0
