interface {{interface_hub_dmvpn_bdx}}
 description {{description_hub_dmvpn_bdx}}
 bandwidth {{bandwidth_hub_dmvpn_bdx}}
 ip address {{ip_address_hub_dmvpn_bdx}} {{net_mask_hub_dmvpn_bdx}}
 no ip redirects
 ip mtu 1416
 ip nhrp authentication dmvpn
 ip nhrp map multicast dynamic
 ip nhrp network-id 99
 ip nhrp holdtime 300
 no ip route-cache
 ip ospf network broadcast
 ip ospf priority {{priority_hub_dmvpn_bdx}}
 delay 1000
 tunnel source {{tunnel_source_hub_dmvpn_bdx}}
 tunnel mode gre multipoint
 tunnel key {{tunnel_key_hub_dmvpn_bdx}}
 tunnel protection ipsec profile {{tunnel_ipsec_profile_hub_dmvpn_bdx}}